img{
    width: 25%;
    border-radius: 50%;
}

li{
    list-style: none;
}

#cv-box{
    background-color: #E4D9FF;
}

header{
    background-color: #30343F;
    color: #FAFAFF;
}

#autre{
    background-color: #273469;
    color: #FAFAFF;
}

E4D9FF
FAFAFF
30343F