h1{
    font-weight: bold;
}

img{
    width: 30%;
    border-radius: 50%;
    border: 5px solid #E4D9FF;
    background-color: #FAFAFF;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#nom{
    font-size: 1.5em;
    font-weight: bold;
}

/* petites annimations (l element arrive par la droite avec une taille de 0 et fini a gauche avec la taille definie dans le css) */

h1{
    animation-duration: 2s;
    animation-name: slideinh1;
    animation-iteration-count: 1;
}

h2{
    animation-duration: 2s;
    animation-name: slideinh2;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
      margin-left: -100%;
      width: 0%;
    }
  
    to {
      margin-left: 0%;
    }
}

@keyframes slideinh2 {
    from {
      margin-left: 100%;
      font-size: 0;
    }
  
    to {
      margin-left: 1em;
    }
}

@keyframes slideinh1 {
    from {
      margin-left: 100%;
      font-size: 0;
    }
  
    to {
      margin-left: 0%;
    }
}

section h2{
    overflow:hidden;
}

/* petit changement de couleur pour le fond et la bordure de l avatar -> inutile donc indispensable */
img:hover{
    border: 5px solid #FAFAFF;
    background-color: #273469;
}

li{
    list-style: none;
}

#cv-box{
    background-color: #E4D9FF;
    color: #30343F;
    font-family: 'Turret Road', cursive;
}

header{
    background-color: #30343F;
    color: #FAFAFF;
    padding: 1em;
    box-shadow: 0px 5px 5px #FAFAFF;
}

#img-frame{
    border-radius: 50%;
    background-color: #FAFAFF;
}

h3{
    font-size: 1.25rem;
    text-shadow: #30343F 1px 1px 5px;
    margin: 1em;
}

h2{
    margin: 1em;
    background-color: #273469;
    color: #FAFAFF;
    padding: 0.5em 1em;
    box-shadow: 5px 5px 5px #30343f;
}

#autre{
    background-color: #273469;
    color: #FAFAFF;
    margin: 1em 0;
}

#autre h2{
    background-color: #E4D9FF;
    color: #30343F;
    box-shadow: 5px 5px 5px #87878a;
}

#autre h3{
    text-shadow: #E4D9FF 1px 1px 5px;
}

#autre li ul{
    padding: 0;
}

a{
    color: #FAFAFF;
}

/*Changement de la couleur du hover des lien pour rester en accord avec le theme du CV*/
a:hover{
    color: #E4D9FF;
}

footer{
    background-color: #30343F;
    color: #FAFAFF;
    padding: 1em;
    box-shadow: 0px -5px 5px #FAFAFF;
    text-align: center;
}

footer ul{
    margin: 1em;
}

/* media query */

@media screen and (max-width: 991px) {

    #autre li ul, #autre li a, #autre li p{
        text-align: center;
        display: block;
    }

  }